<div class="lists-group">

  <div class="button-box">
    <div class="button-content">
      <img src="./assets/img/login-background.jpg" alt="組織">
      <div class="button-text">
        <h4>
          組織
        </h4>
        <span title="使用者容器">
          使用者容器
        </span>
      </div>
    </div>

  </div>
  <div class="button-box">
    <div class="button-content">
      <img src="./assets/img/login-background.jpg" alt="使用者">
      <div class="button-text">
        <h4>
          使用者
        </h4>
        <span title="所有組織裡的使用者">
          所有組織裡的使用者
        </span>
      </div>
    </div>

  </div>
  <div class="button-box">
    <div class="button-content">
      <img src="./assets/img/login-background.jpg" alt="供應商">
      <div class="button-text">
        <h4>
          提供者
        </h4>
        <span title="OAuth提供者">
          OAuth提供者
        </span>
      </div>
    </div>

  </div>
  <div class="button-box">
    <div class="button-content">
      <img src="./assets/img/login-background.jpg" alt="站台">
      <div class="button-text">
        <h4>
          站台
        </h4>
        <span title="需要鑒權的站台">
          需要鑒權的站台
        </span>
      </div>
    </div>

  </div>

</div>
