<p-card>
  <ng-template pTemplate="header">
    <ng-container *ngIf="id; else elseTemplate">
      修改
    </ng-container>
    <ng-template #elseTemplate>
      新增
    </ng-template>
    provider
    &nbsp;&nbsp;&nbsp;
    <button pButton type="button" class="p-button-outlined" label="Save"></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button pButton type="button" class="p-button-help" label="Save & Exit" (click)="back()"></button>
  </ng-template>

  <div class="input-group">
    <div class="col-1">
      <span>
        Name:
      </span>
    </div>
    <div class="col-11">
      <input type="text" pInputText>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Display name:
      </span>
    </div>
    <div class="col-11">
      <input type="text" pInputText>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Favicon:
      </span>
    </div>
    <div class="col-11">
      <div class="input-row">
        <div class="input-group">
          <div class="col-1">
            <span>
              URL:
            </span>
          </div>
          <div class="col-11">
            <span class="p-input-icon-left">
              <i class="pi pi-link"></i>
              <input type="text" pInputText>
            </span>
          </div>
        </div>
        <div class="input-group">
          <div class="col-1">
            <span>
              Preview:
            </span>
          </div>
          <div class="col-11">
            <input type="text" pInputText>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Website URL:
      </span>
    </div>
    <span class="p-input-icon-left">
      <i class="pi pi-link"></i>
      <input type="text" pInputText>
    </span>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Password type:
      </span>
    </div>
    <div class="col-11">
      <div class="inupt-select">
        <p-dropdown [options]="password_type" optionLabel="name"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Password salt:
      </span>
    </div>
    <span class="p-input-icon-left">
      <input type="text" pInputText>
    </span>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Phone prefix:
      </span>
    </div>
    <span class="p-input-icon-left">
      <i class="pi pi-link"></i>
      <input type="text" pInputText>
    </span>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Default avatar:
      </span>
    </div>
    <div class="col-11">
      <div class="input-row">
        <div class="input-group">
          <div class="col-1">
            <span>
              URL:
            </span>
          </div>
          <div class="col-11">
            <span class="p-input-icon-left">
              <i class="pi pi-link"></i>
              <input type="text" pInputText>
            </span>
          </div>
        </div>
        <div class="input-group">
          <div class="col-1">
            <span>
              Preview:
            </span>
          </div>
          <div class="col-11">
            <input type="text" pInputText>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Default Application:
      </span>
    </div>
    <div class="col-11">
      <div class="inupt-select">
        <p-dropdown [options]="default_application" optionLabel="name"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Tags:
      </span>
    </div>
    <div class="col-11">
      <p-autoComplete [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)"
        (onKeyUp)="onKeyUp($event)" [multiple]="true" (onDropdownClick)="log()"></p-autoComplete>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Master password:
      </span>
    </div>
    <div class="col-11">
      <input type="text" pInputText>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Languages:
      </span>
    </div>
    <div class="col-11">
      <p-autoComplete [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)"
        (onKeyUp)="onKeyUp($event)" [multiple]="true" (onDropdownClick)="log()"></p-autoComplete>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Soft deletion:
      </span>
    </div>
    <div class="col-11">
      <p-inputSwitch></p-inputSwitch>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Is profile public:
      </span>
    </div>
    <div class="col-11">
      <p-inputSwitch></p-inputSwitch>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        Account items:
      </span>
    </div>
    <div class="col-11">
      <input type="text" pInputText>
    </div>
  </div>

  <div class="input-group">
    <div class="col-1">
      <span>
        LDAPs:
      </span>
    </div>
    <div class="col-11">
      <input type="text" pInputText>
    </div>
  </div>

  <ng-template pTemplate="footer">

  </ng-template>
</p-card>

<div class="card-btn-group">
  <button pButton type="button" class="p-button-outlined p-button-lg" label="Save"></button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button pButton type="button" class="p-button-help p-button-lg" label="Save & Exit" (click)="back()"></button>
</div>
