// $blue: #1a73e8;
$blue: #2374B0;
$oragin: #fca66d;
$black: rgba(0, 0, 0, 0.85);

// table
$bord-color:#f0f0f0;
$bg-color:#fafafa;

// font
$text:$black;

// 元件色
$main-color: $blue;
$btn-color: darken($blue, 10%);
$hover-color: #85baff;
